<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>wow</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-dark bg-inverse">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link<%= if @conn.request_path == "/" do %> active<%= end %>"
          href="<%= page_path @conn, :index %>">Home
          <%= if @conn.request_path == "/" do %>
            <span class="sr-only">(current)</span>
          <% end %>
        </a>
        <a class="nav-item nav-link<%= if @conn.request_path == "/gallery" do %> active<%= end %>"
          href="<%= gallery_path @conn, :index %>">Gallery
          <%= if @conn.request_path == "/gallery" do %>
            <span class="sr-only">(current)</span>
          <% end %>  
        </a>
      </div>
    </nav>

    <div class="container main">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
