<div class="container">
  
  <h1>Gallery</h1>
  
  <div class="container">
    <div class="row">
      <%= for card <- @cards do %>
        <%= render "card.html", card: card %>
      <% end %>
    </div>
  </div>
</div>